<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="/element-ui/index.min.css">
</head>
<script src="jquery/jquery.min.js"></script>
<script src="/vue/vue.min.js"></script>
<script src="/element-ui/index.min.js"></script>
<script src="/cookie/js.cookie.min.js"></script>
<script src="common.js"></script>
<body>
<div id="app">
    <el-container>
        <el-main>
            <span style="color: red;margin-left: 40px;" v-text="msg"></span>
            <el-form :model="registerForm" :rules="rules" ref="registerForm" label-width="100px"
                     class="demo-registerForm"
                     style="width: 50%">
                <el-form-item label="用户名" prop="username">
                    <el-input v-model="registerForm.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password">
                    <el-input v-model="registerForm.password" style="width: 120px" type="password"></el-input>
                </el-form-item>
                <el-form-item label="手机号" prop="phone">
                    <el-input v-model="registerForm.phone" style="width: 120px"></el-input>
                </el-form-item>
                <el-form-item label="验证码" prop="code">
                    <el-input v-model="registerForm.code" style="width: 120px"></el-input>
                    <el-button @click="sendCode()">发送短信验证码</el-button>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('registerForm')">注册</el-button>
                    <el-button @click="resetForm('registerForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </el-main>
    </el-container>
</div>
<script type="text/javascript">
    const vm = new Vue({
        el: '#app',
        data: function () {
            return {
                registerForm: {
                    username: '',
                    password: '',
                    phone: '',
                    code: '',
                },
                msg: "",
                rules: {
                    username: [
                        {required: true, message: '请输入用户名称', trigger: 'blur'}
                    ],
                    password: [
                        {required: true, message: '请输入密码', trigger: 'change'}
                    ],
                    code: [
                        {required: true, message: '请输入验证码', trigger: 'change'}
                    ],
                    phone: [
                        {required: true, message: '请输入手机号', trigger: 'change'}
                    ],
                }
            };
        },
        methods: {
            // 提交表单数据
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        $.ajax({
                            type: "POST",
                            url: "/regist",
                            contentType: "application/json;charset=UTF-8",
                            data: this.registerForm,
                            success: function (data) {
                                vm.msg = "";
                                if (ResponseUtils.isSuccess(data)) {
                                    location.href = "/login.html";
                                } else {
                                    vm.msg = data.msg;
                                }
                            }
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            // 重置表单数据
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            // 发送短信验证码
            sendCode() {
                let phone = this.registerForm.phone;
                if (phone == null || phone === '') {
                    this.$message({
                        message: '请输入手机号码',
                        type: 'warning'
                    });
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/sendCode?phone=" + phone,
                        success: function (data) {
                            vm.msg = "";
                            if (ResponseUtils.isSuccess(data)) {
                                alert("发送验证码成功")
                            } else {
                                vm.msg = data.msg;
                            }
                        }
                    });
                }
            }
        }
    });

    // function sendCode() {
    //     $.ajax({
    //         type: "POST",
    //         url: "/sendCode",
    //         data: {"phone": $("#phoneInput").val()},
    //         success: function (data) {
    //             alert("发送验证码成功")
    //         }
    //     });
    // }
</script>
</body>
</html>